.brands {
    background-image: url(../images/bottphoto.png);
    background-size: cover;
    padding: 70px 0;
    clear: left;

    &__inner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    &__item {
        padding: 30px;
        display: block;
    }
}


@media only screen and (max-width:1100px) {
    .brands {
        padding: 0;

        &__item {
            transform: scale(.7);
            padding: 0;
        }
    }
}

@media only screen and (max-width:860px) {
    .brands {
        &__inner {
            justify-content: space-around;
        }

        &__item {
            padding: 20px;
        }
    }
}


@media only screen and (max-width:576px) {
    .brands__item {
        padding: 0px;

    }
}